html, body{
    background-color: whitesmoke;
    width: auto!important; overflow-x: hidden!important;
}

*{
    padding: 0;
    margin: 0;
}
.icon{
    background-color: #75B8F6 ;
    width: 100%;
    height: 90px;
    position: absolute;
    display: flex;
}

.icon img{
    width: 80px;
    padding-left: 50px;
    padding-top: 10px;
    display:flex;
}

.name{
    display:flex;
    text-align: center;
    padding-top: 40px;
    justify-content: center;
    padding-left: 400px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(15, 51, 119);
}
.links{
    display: flex;
    position: relative;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    background-color: #B8DBFC;
    width: 80%;
    border-radius: 60px;
    height: 60px; 
    margin-left: 10em;
}
span{
    padding: 40px;
    cursor: pointer
}

.inputs input[type="text"] {
    height: 3.5rem;
    width: 30rem;
    background: #212121;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: #0c516d;
    border-radius: 2px;
    margin-right:4px ;
    margin-top: 5rem;
    margin-left: 25rem;
    
}

.inputs input[type="submit"] {
    height: 3.5rem;
    width: 6.5rem;
    background: #59a8dd;
    font-weight: bold;
    color: ghostwhite;
    font-size: 1.5rem;
    border: none;
    border-radius: 2px;
}


.display {
    text-align: center;
    color: #054077;
}
.wrapper {
    margin: 0 9rem;
    width: 50%;
    background-color: #a5cff7;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
}

.wrapper h2{
    padding: 5px 0;
    text-align: center;
  }
  .wrapper p{
    text-align: center;
    margin:10px 0;
    font-size:20px;
  }

/* about  */
#about{
    background-color: #59a8dd;   
    margin: 40px;
    height: 12em;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    color: rgb(5, 63, 150);
}

.text{
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px; 
    color: rgb(10, 79, 143);
}

